<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>
    <body>
        <h3>Hello {{ username}}, Welcome to Our Platform.</h3>
        <p>Your account has been created successfully. Here are your login details:</p>
        <br>
            Username: <strong>{{ username }}</strong><br>
            Password: <strong>{{ password}}</strong><br>
            Role: <strong>{{ role }}</strong><br>
        </p>
        <br>
        <p>Please login to your account to view more details.</p><br>
        <p>Best regards,</p>
        <p>The Team</p>
    </body>
</html>