{% load crispy_forms_filters %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> User Task Form Create</title>
            <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid justify-content-center">
            <h2>Create Task</h2>
            <form method="post" >
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Save</button>
                {% if task %}
                    <a href="{% url 'kanban_board' task.board_id %}" class="btn btn-outline-secondary">Cancel</a>
                {% else %}
                    <a href="{% url 'kanban_board' task.board_id %}" class="btn btn-outline-secondary">Cancel</a>
                {% endif %}
            </form>
        </div>
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>